.toolbar {
  height: 105px;
  background: #4b4b4b;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #e5e5e5;
}

.hamburger {
  cursor: pointer;
}
