.toolbar {
  height: 105px;
  background: #4B4B4B;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #E5E5E5;
}

.hamburger {
  cursor: pointer;
}

.loading {
  font-size: 32pt;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

